<div class="nav">
    <div class="nav-title-menu">
        <h3 class="nav-title">Menu</h3>
        <a href="#" class="nav-close">
            <span class="hidden">Close</span>
        </a>
    </div>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Inicio</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">Acerca de</a></li>
        <li role="presentation"><a target="_blank" href="https://www.twitter.com/GersonLazaroC">Twitter</a></li>
        <li role="presentation"><a target="_blank" href="https://github.com/GersonLazaro/">Github</a></li>
        <li role="presentation"><a target="_blank" href="https://co.linkedin.com/in/gersonlazaro">LinkedIn</a></li>
        <li role="presentation"><a target="_blank" href="#">Suscríbete</a></li>
    </ul>
</div>
<span class="nav-cover"></span>
