<!-- DYN -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/particles.min.js" | absolute_url }}"></script>
<script src="https://cdn.jsdelivr.net/npm/rrssb@1.14.0/js/rrssb.min.js"></script>
<script>
  
particlesJS.load('particles', '{{ "/assets/js/particles.json" | absolute_url }}', function() {
  console.log('callback - particles.js config loaded');
});
</script>
