---
layout: default
class: 'post-template'
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->
<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="home-button icon-arrow-left" href="{{ site.baseurl }}" ><span class="word">Inicio</span></a>
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menú</span></a>
        {% endif %}
    </nav>
    <div class="post-bg-adjust"></div> 
        <div class="post-adjust">
            <div class="post-data">
                <header class="post-header">
                    <h2 class="post-title">{{ page.title }}</h2>
                </header>
            </div>
        </div>
</header>

<main class="content post-content-fix" role="main">

    <article class="{{ page.subclass }}">
            <section class="post-content">
                <br><br>
                {{ content }}
            </section>

    </article>

</main>

<!-- /post -->
